.cardssection{
  
    .price{
        position: relative;
        z-index: -999;
    }
&__carditem{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 0 5% 0 5%;
}
&__precios{
    display: flex;
    justify-content:center;
    align-items:flex-end;
    color: white;
    }
}
.card1, .card2{
    background-color: white;
    padding: 100px;
    margin-bottom: 100px;
    &:hover{
        box-shadow: 10px 5px 5px $raising-black;
    }
    h3{
        font-size: $medium;
        font-weight: normal;
    }
}

.card1{
    margin-left:50%;
}
.card2{
    margin-right: 50%;
}
@include respond-to-sm($bp-sm){
    
    .cardssection{
        background-image: url(../img/bg-price.svg);
            background-size: cover;
            background-position-x: -860px;
            height: 1000px;
            background-repeat: no-repeat;
        .price{
            display: none;                   
        }
        &_cards{
        margin-top: 20px;
        grid-gap: 0;
        }
        &__carditem{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: flex-start;
            margin: 0 20% 0 20%;
        }
    }
        .card1, .card2{
            background-color: white;
            padding: 20px 50px 20px 50px;
            margin: 0;
            &:hover{
                box-shadow: 10px 5px 5px $raising-black;
            }
    
        
        }
        .card1{
            margin-top: 20px;
        }
        .card2{
            margin-bottom: 40px;
            
        }   
}

@include respond-to-sm($bp-sm){
    .cardsection{
        padding-top: 200px;
        padding-bottom: 200px;
    }
        
}