.footer{
    color: white;
    background-color: black;
    height: 100px;
    margin-top: 200px;

    &__nav{
    display: flex;
    align-items: center;
    }
    &__list{
       list-style: none;
       display: flex;
       justify-content: flex-start;
       grid-gap:50px;
       
   }

   &__rights{
       display: flex;
       justify-content: flex-end;
       margin-right: 50px;
       align-items: center;
   }
}
@include respond-to-sm($bp-sm){
    .footer{
        //mover de lugar con el viewbox al svg price
       
    }
}