//lg screen
.container{
    display: grid;
    grid-template-rows:max-content;
}
.navigator{
    display: grid;
    grid-template-rows: minmax(min-content,100px) min-content;
    &__menu{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: max-content max-content;
       
        
      
    }
    &__buttons{
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-end;
    }

    &__links{
        display: grid;
        grid-gap:10px;
        grid-auto-flow:column;
        grid-auto-columns:minmax(min-content,150px) ;
        
    }

    &__dropdown{
        display: none;
        grid-column: span 12;

    }
}
.main{
    display: grid;
    grid-template-rows: max-content max-content ;
    &__hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 100px ;

}

&__caracteristicas{
    display: grid;
    grid-template-rows: max-content max-content;
  
}
    &__cuerpo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.cardssection{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:200px max-content;
&__cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
//sm screen
@include respond-to-sm($bp-sm){
    .navigator{
        display: grid;
        grid-template-columns: 1fr 1fr;
        &__logo{
            display: grid;
            grid-template-columns: 1fr;
        }
        &__menu{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    .main{
        &__hero{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
        &__caracteristicas{
            display: grid;
            grid-template-columns: 1fr;
        }
    
        &__cuerpo{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    
    .cardssection{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:max-content;
    &__cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
    }
    
    .footer{
        display: grid;
        grid-template-columns: 1fr;
    }  
 }