.main{

    &__hero{
    background-image: url(../img/bg-hero.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
    }
    &__txt{
        display: flex;
        flex-direction: column;
        align-content:flex-start;
        margin-top: 100px;
        margin-left: 50px;

    }
}

