.navigator{

    &__menu{
        align-content: space-evenly;
    }

    &__links{
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color:black;
           
        }
        a:hover{
            opacity: 50%;
        }
    
    }
    &__buttons{
      margin-right: 100px;
      button{
          margin-right: 20px;
          border: none;
      }
      button:hover{
        opacity: 50%;
        
      }
      .login{
          background-color: white;
          cursor: pointer;
          width: 100px; 
            }
      .sign-up{
         background-color: lightseagreen; 
         color: white;
         cursor: pointer;
         width: 100px;
      }
    }
    &__dropdown{
        display: none;
    
      place-items: left;
        a{
            text-decoration: none;
            color: black;
            padding: 10px 0 10px 40px;
            background-color: white;
        }
        a:hover{
        background-color: lightblue;    
       
        }

    }
    &__buttonsdrop{
        display: grid;
        padding-top: 30px;
        padding-bottom: 20px;

    }
}

.navigator{
    img{
        margin-left: 100px;
    }
    i{
        display: none;
    }
}

@include respond-to-sm($bp-sm){
    .navigator{
        &__menu{
            display: grid;
            grid-column: span 2;
            img{
                margin-left: 50px;
                width: 30px;
            }
            
        }
        &__links{
            display: none;
        }
        &__buttons{
            display: none;
        }
        i{
            display: flex;
            justify-content:flex-end;
            margin-right: 70px;            
        }
        i:hover{
            opacity: 50%;
        }
    }
}