.navigator{

    &__menu{
        align-content: space-evenly;
    }

    &__links{
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color:black;
           
        }
        a:hover{
            opacity: 50%;
        }
    
    }
    &__buttons{
      margin-right: 100px;
      button{
          margin-right: 20px;
          border: none;
          font-family: $primary-font;
      }
     
      .login{
          background-color: white;
          cursor: pointer;
          width: 100px; 
          &:hover{
              opacity: 50%;
          }
            }
      .sign-up{
         background-color: $ball-blue; 
         color: white;
         cursor: pointer;
         width: 135px;
         height: 35px;
        &:hover{
            background-color:$blue-lagoon ;
        }
      }
    }
    &__dropdown{
        font-weight: $primary-font-bold;
        display: none;
        place-items: left;
        padding-left:10%;
        padding-right: 10%;
        a{
            text-decoration: none;
            color: black;
            padding: 10px 0 10px 40px;
            background-color: white;
            &:hover{
                background-color: lightblue;    
               
        }
    }
    .drop_signup{
        background-color: $ball-blue;
    }
      
    }
    &__buttonsdrop{
        display: grid;
        padding-top: 30px;
        padding-bottom: 20px;

    }
}

.navigator{
    img{
        margin-left: 100px;
    }
    i{
        display: none;
    }
}

@include respond-to-sm($bp-sm){
    .navigator{
        &__menu{
            display: grid;
            grid-column: span 2;
            img{
                margin-left: 20px;
                width: 40px;
            }
            
        }
        &__links{
            display: none;
        }
        &__buttons{
            display: none;
        }
        i{
            display: flex;
            justify-content:flex-end;
            margin-right: 30px;   
            font-size: $x-large;         
        }
        i:hover{
            opacity: 50%;
        }
    }
}