@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

@keyframes vanish {
  100% {
    opacity: 100%;
  }
  75% {
    opacity: 75%;
  }
  50% {
    opacity: 50%;
  }
  25% {
    opacity: 25%;
  }
  0% {
    opacity: 0%;
  }
}
.container {
  display: grid;
  grid-template-rows: max-content;
}

.navigator {
  display: grid;
  grid-template-rows: minmax(min-content, 100px) min-content;
}
.navigator__menu {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content max-content;
}
.navigator__buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
}
.navigator__links {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: minmax(min-content, 150px);
}
.navigator__dropdown {
  display: none;
  grid-column: span 12;
}

.main {
  display: grid;
  grid-template-rows: max-content max-content;
}
.main__hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 100px;
}
.main__caracteristicas {
  display: grid;
  grid-template-rows: max-content max-content;
}
.main__cuerpo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cardssection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px max-content;
}
.cardssection__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 767.98px) {
  .navigator {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .navigator__logo {
    display: grid;
    grid-template-columns: 1fr;
  }
  .navigator__menu {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main__hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .main__caracteristicas {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main__cuerpo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cardssection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
  }
  .cardssection__cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.navigator__menu {
  align-content: space-evenly;
}
.navigator__links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.navigator__links a:hover {
  opacity: 50%;
}
.navigator__buttons {
  margin-right: 100px;
}
.navigator__buttons button {
  margin-right: 20px;
  border: none;
  font-family: "Raleway", sans-serif;
}
.navigator__buttons .login {
  background-color: white;
  cursor: pointer;
  width: 100px;
}
.navigator__buttons .sign-up {
  background-color: #2AB7CA;
  color: white;
  cursor: pointer;
  width: 100px;
}
.navigator__buttons .sign-up:hover {
  background-color: #B1E4EB;
}
.navigator__dropdown {
  font-weight: 700;
  display: none;
  place-items: left;
  padding-left: 10%;
  padding-right: 10%;
}
.navigator__dropdown a {
  text-decoration: none;
  color: black;
  padding: 10px 0 10px 40px;
  background-color: white;
}
.navigator__dropdown a:hover {
  background-color: lightblue;
}
.navigator__dropdown .drop_signup {
  background-color: #2AB7CA;
}
.navigator__buttonsdrop {
  display: grid;
  padding-top: 30px;
  padding-bottom: 20px;
}

.navigator img {
  margin-left: 100px;
}
.navigator i {
  display: none;
}

@media (max-width: 767.98px) {
  .navigator__menu {
    display: grid;
    grid-column: span 2;
  }
  .navigator__menu img {
    margin-left: 20px;
    width: 40px;
  }
  .navigator__links {
    display: none;
  }
  .navigator__buttons {
    display: none;
  }
  .navigator i {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    font-size: 30px;
  }
  .navigator i:hover {
    opacity: 50%;
  }
}
.main__bg-hero {
  position: absolute;
  top: 20;
  right: 0;
  z-index: -100;
  width: 100%;
}
.main__txt {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
  margin-left: 15%;
  margin-right: 13%;
}
.main__txt h1 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
}
.main__txt p {
  font-size: 20px;
  line-height: 2;
  text-align: left;
}

@media (max-width: 767.98px) {
  .main__bg-hero {
    position: relative;
    width: 160%;
    right: 200px;
    height: 150%;
    bottom: 140px;
  }
  .main__txt {
    display: block;
    margin: 0 13px 0 13px;
  }
  .main__txt h1 {
    font-size: 40px;
    margin-top: 10px;
  }
  .main__txt p {
    font-size: 20px;
    text-align: left;
  }
}
.main__tittle {
  display: flex;
  justify-content: center;
}
.main__grafico {
  display: flex;
  justify-content: center;
  animation: vanish 1s ease-in;
}
.main__estadisticas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25%;
  margin-left: 25%;
}
.main__estadisticas h1, .main__estadisticas p {
  margin-top: 0;
}

@media (max-width: 767.98px) {
  .main__tittle {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 35px;
  }
  .main__estadisticas {
    align-items: flex-start;
    margin: 40px 10% 40px 10%;
  }
  .main__estadisticas h1 {
    margin: 0 0 30px 0;
  }
  .main__estadisticas p {
    line-height: 2;
  }
}
.footer {
  color: white;
  background-color: black;
  height: 100px;
}
.footer__nav {
  display: flex;
  align-items: center;
}
.footer__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  grid-gap: 50px;
}
.footer__rights {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  align-items: center;
}
.footer__item:hover {
  opacity: 50%;
}
@media (max-width: 767.98px) {
  .footer .footer__rights, .footer .footer__list {
    justify-content: center;
    padding-left: 5%;
    padding-right: 2%;
    margin: 0;
  }
}

.cardssection .price {
  position: relative;
  z-index: -999;
}
.cardssection__carditem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardssection__precios {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}

.card1, .card2 {
  background-color: white;
  padding: 100px;
  margin-bottom: 100px;
}

.card1 {
  margin-left: 50%;
}

.card2 {
  margin-right: 50%;
}

@media (max-width: 767.98px) {
  .cardssection {
    background-image: url(../img/bg-price.svg);
    background-size: cover;
    background-position-x: -860px;
    height: 1000px;
    background-repeat: no-repeat;
  }
  .cardssection .price {
    display: none;
  }
  .cardssection_cards {
    margin-top: 20px;
    grid-gap: 0;
  }

  .card1, .card2 {
    background-color: white;
    padding: 10px 50px 10px 50px;
    margin: 0;
  }

  .card1 {
    margin-top: 100px;
  }

  .card2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .cardsection {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
